---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Link from '../components/atoms/Link.astro';

const rawBlogPosts = await getCollection('blog');

const sortedPostData = rawBlogPosts
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .map((post) => ({
    slug: post.slug,
    ...post.data,
  }));
---

<Layout>
  <div class="flex flex-col gap-20">
    <Hero />
    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2 items-center">
        <h3 class="text-lg">Posts</h3>
        <Link href="/blog" class="text-sm" rel="noreferrer">
          See all {rawBlogPosts.length}
        </Link>
      </header>
      <section
        class:list={['grid grid-cols-1 gap-4', { 'sm:grid-cols-2': sortedPostData.length > 1 }]}
      >
        {
          sortedPostData.map((post) => (
            <Card
              title={post.title}
              description={post.description}
              path={post.slug}
              date={post.pubDate}
            />
          ))
        }
      </section>
    </article>
  </div>
</Layout>
